<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ModulesActivity"
            android:exported="false" />
        <activity android:name="com.hearthappy.mylibrary.ForResultActivity" />
    </application>

</manifest>